!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Nueva solicitud de Secuencias
    %br/
    %p
      #{@name} ha enviado una nueva solicitud de secuencia con el folio: #{@folio}.
     
   
