!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Solicitud de Secuencias de Acidos Nucleicos.
    %br/
    %h2
      #{@name}
    %br/
    %p
      Tu solicitud de secuencias ha sido registrada
      correctamente con el folio: #{@folio}.
    %p
      Si tu pago ser치 efectuado por dep칩sito bancario, en breve recibir치s en esta misma cuenta de correo la ficha de dep칩sito correspondiente.
     
   
