!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Solicitud de Secuencias de Acidos Nucleicos.
    %br/
    %h2
      #{@name}
    %br/
    %p
      Enviamos anexo a este mensaje los resultados del la Solicitud
      de Secuencias con el folio: #{@folio}.
    %p
      Saludos.
     
   
