!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Nueva solicitud de ficha de depósito
    %br/
    %p
      Anexo la solcitud de Secuencias de Acidos Nucleicos para que envíen ficha de depósito  al solcitante.

      Gracias.
     
   
